
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEF6EF;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  

  .header-left {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
  
  .logo-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50; 
  }
  

  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
  }
  