/* Base styles for .task-details */
.task-details {
  width: 250px;
  background-color:#EEF6EF;
  padding: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .task-details {
    width: 100%; /* Full width on mobile */
    padding: 10px; /* Adjust padding if needed */
  }
}

.details-options {
  list-style: none;
  padding: 0;

}

.details-options li {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.details-options li img {
margin-right: 20px;
}

.details-options li:hover {
  color: #68b684;
}
